@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    --very-dark-magenta-color: hsl(300, 43%, 22%);
    --soft-pink-color: hsl(333, 80%, 67%);
    --dark-grayish-magenta-color: hsl(303, 10%, 53%);
    --light-grayish-magenta-color: hsl(300, 24%, 96%);
    --white-color: hsl(0, 0%, 100%);
}

/* global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}